<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="first1" class="com.atguigu.ioc_01.first" />
    <bean id="first2" class="com.atguigu.ioc_01.first" />

    <bean id="clientService" class="com.atguigu.ioc_01.ClientService" factory-method="createInstance"/>

    <bean id="DefaultServiceLocator" class="com.atguigu.ioc_01.DefaultServiceLocator"/>
    <bean id="ClientServiceImpl" factory-bean="DefaultServiceLocator" factory-method="createClientServiceInstance"/>
</beans>